body{
    
    background-size: cover;
    user-select: none;
    align-items: center;
    justify-items: center;   
}
#outerbody{
    background-color: rgba(89, 255, 222, 0.73);
    width:30%;
    height:70vh;
    padding:5px;
    margin:0 35% 0 35%;
    align-items: center;
    border:3px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px grey ;
    z-index: 50;
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
#instructions{
    display:block;
    position: fixed;
    width: fit-content;
    inset:10% auto auto 5px;
}
#toggleins{
    display:block;
    position:absolute;
    inset:10% auto auto 5px;
}
#points{
    display: none;
    position:relative;
    inset:10% auto auto 5px;
    background-color: aliceblue;
    /* background-image:linear-gradient(45deg,red ,green, yellow); */
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%); */
    width: 40vw;
    height: fit-content;
    padding:10px;
    text-align: left;
    color:rgb(148, 147, 147);
    word-wrap: break-word;
    border:2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.488);
}
#toggleins:hover + #points,#points:hover{display:block}
#result{
    background-color: rgb(109, 114, 215);
    width:auto;
    height:30%;
    font-size: 28px;
    text-align: center;
    vertical-align: center;
    border-radius: 5px 5px 0 0;
    border:solid 3px black;
    word-wrap: break-word;
    word-break: normal;
    overflow-y:scroll;   
}
#keypaddiv{
    height:60%;
    width:100%;
    padding:5px;
    border-radius: 10px;
    border-spacing: 5px;
}
td{
    align-items: center;
    align-content: center;
    text-align: center;
    width:50px;
    height:50px;
    border-radius: 30px;
}
#buttons{
    width:100%;
    height:100%;
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    font-size: 28px;
    box-shadow:0px 0px 4px 4px rgba(128, 128, 128, 0.644) ;
    cursor:pointer;
}
#buttons:active{
    transform: translateY(2px);
}
#buttons:hover{
    background-color: bisque;
    color:black;
}
h1{
    text-align: center;
    background-color: aqua;
}
#numpad,#operators{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
::-webkit-scrollbar{
    width: 4px;
    height:5px;
}
::-webkit-scrollbar-track
{
    border-radius: 0 10px 10px 0;
    background: rgb(109, 114, 215);
    margin:5px;
    
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 11px;

}
hr{
    border-color: black;
    background-color: black;
    height:1px;
}
@media screen and (max-width:900px) {

    #outerbody{

        width:75%;
        height:70vh;
        margin:0 12.5% 0 12.5%;
        padding:0%;
       
    }
    #result{
        margin:0;
    }
    #buttons{
        width:100%;
        height:100%;
        font-size: 18;
   
    }
    #keypad{
        height:80%;
    }
    #instructions{
        width: fit-content;
        height: fit-content;
        word-wrap: break-word;
        
    }
    td{
        border-radius: 50%;
        width:40px;
        height: 40px;
    }
    #points{
        width:50vw;
    }
}
@media screen and (max-height:530px) {
    #outerbody{

        width:75%;
        height:70vh;
        margin:0 12.5% 0 12.5%;
       
    }
    td{
        border-radius: 50%;
        width:40px;
        height: 40px;
    }
}