body{
    background-image:radial-gradient(aliceblue);
    
    background-size: cover;
    
}
#outerbody{
    background-color: rgba(194, 255, 243, 0.73);
    width:50%;
    height:50vh;
    margin:0 25% 0 25%;
    padding:2% 0 5% 0;
    align-items: center;
    border:3px solid black;
    border-radius: 10px;
    box-shadow: inset 2px 4px 4px 4px grey;

}
#result{
    background-color: rgb(109, 114, 215);
    width:88.5%;
    height:20%;
    margin: 0 5% 0 5%;
    font-size: 28px;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    border:solid 3px black;
    box-shadow: 2px 4px 4px 4px grey;
}
#keypaddiv{
    height:70%;
    width:100%;
    margin: 1%;
    padding:2px;
    background-color: transparent;

}
#buttons{
    width:50px;
    height:50px;
    margin:3px;
    background-color: black;
    color: aliceblue;
    border-radius:10px;
    border: none;
    font-weight: bolder;
    font-size: 28px;
    box-shadow:2px 4px 4px 4px grey ;
    cursor:pointer;
}
#buttons:active{
    transform: translateY(2px);
}
#buttons:hover{
    background-color: bisque;
    color:black;
}
h1{
    text-align: center;
    background-color: aqua;
}
#numpad,#operators{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#numpad{
    width:70%;
}
#operators{
  width:20%;  
}
#specialkeys{
    display:flex;
    flex-direction: row;
}
@media screen and (max-width:900px) {
    #outerbody{

        width:75%;
        height:70vh;
        margin:0 12.5% 0 12.5%;
       
    }

    #buttons{
        width:50px;
        height:50px;
        font-size: 18;
   
    }
}
@media screen and (max-height:530px) {
    #outerbody{

        width:75%;
        height:70vh;
        margin:0 12.5% 0 12.5%;
       
    }

    #buttons{
        width:30px;
        height:30px;
        font-size:14;
        font-weight: 300;
        overflow: hidden;
        padding:1px
   
    }
}